<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wechat.mp.dao.CategoryMapper" >
  <resultMap id="BaseResultMap" type="com.wechat.mp.pojo.Category" >
      <id property="id" column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <result property="name" column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result property="content" column="content" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result property="createTime" column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <result property="updateTime" column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, `name`,`content`, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from category
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from category
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.wechat.mp.pojo.Category" >
    insert into category ( `name`,`content`, create_time,update_time)
    values ( #{name},#{content}, now(), now())
  </insert>
  <insert id="insertSelective" parameterType="com.wechat.mp.pojo.Category" >
    insert into category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        `name`,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        now()
      </if>
      <if test="updateTime != null" >
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wechat.mp.pojo.Category" >
    update category
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wechat.mp.pojo.Category" >
    update category
    set `name` = #{name,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      update_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findCategoryList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from category
  </select>
  <select id="selectByName" resultMap="BaseResultMap" parameterType="string">
    select
    <include refid="Base_Column_List"/>
    from category
    where `name` = #{name}
  </select>
  <select id="findCategoryByParam" resultMap="BaseResultMap" parameterType="map">
    SELECT
    <include refid="Base_Column_List"/>
    FROM category
    <where>
      <if test="keyword != null and keyword != ''">
        AND `name` LIKE #{keyword}
      </if>
    </where>
    ORDER BY ${orderColumn} ${orderType}
    limit ${start},${length}
  </select>
  <select id="findCategoryCount" resultType="int">
    SELECT COUNT(*) FROM category
  </select>
  <select id="findCategoryCountByParam" resultType="int" parameterType="map">
    SELECT COUNT(*) FROM category
    <where>
      <if test="keyword != null and keyword != ''">
        AND `name` LIKE #{keyword}
      </if>
    </where>
  </select>
  <select id="findCategoryCountByName" resultType="int" parameterType="string">
    SELECT COUNT(*) FROM category
    WHERE `name` = #{name}
  </select>
  <select id="findCategoryByName" resultMap="BaseResultMap" parameterType="string">
    select
    <include refid="Base_Column_List"/>
    from category
    where `name` = #{name}
  </select>
</mapper>