<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wechat.mp.dao.WxInterestMapper" >
    <resultMap id="WxInterest" type="com.wechat.mp.pojo.Fans" >
        <id property="id" column="id" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result  property="createTime" column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
        <result  property="updateTime" column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
        <association property="accountFans" javaType="com.wechat.mp.util.wechat.AccountFans">
            <id property="openId" column="open_id"/>
            <result property="nicknameStr"   column="nickname"/>
        </association>
        <collection property="categories" ofType="com.wechat.mp.pojo.Category" javaType="list">
            <id property="id" column="c_id"/>
            <result property="name" column="c_name"/>
        </collection>
    </resultMap>
    <sql id="Base_Column_List" >
        id, `open_id`,`nickname`, c_id, `name`
    </sql>
    <insert id="insertFansCategory">
        insert into
        fans_category(open_id, cate_id, create_time, update_time)
        values(#{param1},#{param2},now(),now())
    </insert>
    <select id="getCategoryIdByOpenId" resultType="int" parameterType="string">
        select cate_id
        from fans_category
        where open_id = #{openId}
    </select>
    <select id="getFansWithInterestByOpenId" resultMap="WxInterest" parameterType="string">
        select f.open_id id,fc.open_id,f.nickname,c.id c_id,c.`name` c_name
        from fans_category fc,category c,fans f
        where f.open_id = #{openId} AND fc.open_id = f.open_id AND fc.cate_id = c.id
    </select>
    <select id="getSimpleFansByOpenId" resultMap="WxInterest" parameterType="string">
        select f.open_id id,f.open_id open_id,f.nickname
        from fans f
        where f.open_id = #{openId}
    </select>
    <select id="isRelation" resultType="int">
        select count(*)
        from fans_category
        where open_id = #{param1} AND cate_id = #{param2}
    </select>
    <delete id="deleteRelation">
      delete
      from fans_category
      where open_id = #{param1} AND cate_id = #{param2}
    </delete>
    <select id="findFansInterestInfo" resultMap="WxInterest">
        select open_id id,open_id open_id,cate_id c_id
        from fans_category
        where open_id = #{openId}
    </select>
    <select id="findInterestByOpenId" resultType="int" parameterType="string">
        select cate_id
        from fans_category
        where open_id = #{openId}
    </select>
</mapper>