<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wechat.mp.dao.WxItemMapper" >
  <resultMap id="SimpleWxItem" type="com.wechat.mp.pojo.WxItem" >
      <id property="id" column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <result  property="itemId" column="item_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result  property="title" column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result  property="description" column="description" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result  property="url" column="url" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result  property="imgUrl" column="img_url" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result  property="createTime" column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <result  property="updateTime" column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    <association property="category" javaType="com.wechat.mp.pojo.Category">
      <id property="id" column="c_id"/>
      <result property="name"   column="name"/>
      <!--<result property="createTime"   column="c_create_time"/>-->
      <!--<result property="updateTime"   column="c_update_time"/>-->
    </association>
    <!--<collection property="tags" resultMap="com.wechat.mp.dao.TagMapper.BaseResultMap"/>-->
  </resultMap>
  <resultMap id="WxItemDetail" type="com.wechat.mp.pojo.WxItem">
    <id property="id" column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
    <result  property="itemId" column="item_id" jdbcType="VARCHAR" javaType="java.lang.String" />
    <result  property="title" column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
    <result  property="description" column="description" jdbcType="VARCHAR" javaType="java.lang.String" />
    <result  property="url" column="url" jdbcType="VARCHAR" javaType="java.lang.String" />
    <result  property="imgUrl" column="img_url" jdbcType="VARCHAR" javaType="java.lang.String" />
    <!--<result  property="createTime" column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />-->
    <!--<result  property="updateTime" column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />-->
    <association property="category" javaType="com.wechat.mp.pojo.Category">
      <id property="id" column="c_id"/>
      <result property="name"   column="c_name"/>
    </association>
    <collection property="tags" ofType="com.wechat.mp.pojo.Tag">
      <id property="id" column="t_id"/>
      <result property="name" column="t_name"/>
    </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    id, item_id, title, description, url, img_url, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="WxItemDetail" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from wechat_item
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wechat_item
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.wechat.mp.pojo.WxItem" >
    insert into wechat_item (item_id, title,
      description, url, img_url,
      create_time, update_time)
    values (#{itemId,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR},
      #{description,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR},
      now(), now())
  </insert>
  <insert id="insertSelective" parameterType="com.wechat.mp.pojo.WxItem" >
    insert into wechat_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="imgUrl != null" >
        img_url,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wechat.mp.pojo.WxItem" >
    update wechat_item
    <set >
      <if test="itemId != null" >
        item_id = #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wechat.mp.pojo.WxItem" >
    update wechat_item
    set item_id = #{itemId,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      update_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findWxItemByParam" parameterType="map" resultMap="SimpleWxItem">
    SELECT a.id,a.item_id,a.title,a.url,a.description,a.create_time,a.update_time,
    c.id c_id,c.`name`,c.create_time c_create_time,c.update_time c_update_time
    FROM wechat_item a,cate_item b,category c
    <where>
      a.state = 0 AND a.id = b.item_id AND b.cate_id = c.id
      <if test="keyword != null and keyword != ''">
        AND CONCAT(a.`title`, c.`name`) LIKE #{keyword}
      </if>
    </where>
    ORDER BY ${orderColumn} ${orderType}
    limit ${start},${length}
  </select>
  <select id="findWxItemCount" resultType="int">
    SELECT COUNT(*) FROM wechat_item
    where state = 0
  </select>
  <select id="findWxItemCountByParam" resultType="int" parameterType="map">
    SELECT COUNT(*) FROM wechat_item
    <where>
      <if test="keyword != null and keyword != ''">
        title LIKE #{keyword}
      </if>
      AND state = 0
    </where>
  </select>
  <insert id="insertWxItemTags" >
    insert into
    tag_item(item_id,tag_id,create_time,update_time)
    values(#{param1.id},#{param2.id},now(),now())
  </insert>
  <insert id="insertWxItemCategory">
    insert into
    cate_item(item_id,cate_id,create_time,update_time)
    values(#{param1.id},#{param2.id},now(),now())
  </insert>
  <select id="findByIndex" resultType="int" parameterType="string">
    select
    count(*) from wechat_item
    where item_id = #{itemId}
  </select>
  <select id="findWxItemWithTagById" resultMap="WxItemDetail" parameterType="int">
    select a.id,a.item_id,a.title,a.description,a.url,a.img_url,d.`name` c_name,e.`name` t_name,
    d.id c_id,e.id t_id
    from wechat_item a , cate_item b, tag_item c, category d, tag e
    where a.id = #{id} AND a.id = b.item_id AND a.id = c.item_id AND b.cate_id = d.id AND c.tag_id = e.id
  </select>
  <select id="findWxItemWithCateById" resultMap="WxItemDetail" parameterType="int">
    select a.id,a.item_id,a.title,a.description,a.url,a.img_url,
    d.id c_id,d.`name` c_name
    from wechat_item a , cate_item b, category d
    where a.id = #{id} AND a.id = b.item_id AND b.cate_id = d.id
  </select>
  <select id="findWxItemByIndex" resultMap="SimpleWxItem" parameterType="string">
    select
    <include refid="Base_Column_List"/>
    from wechat_item
    where item_id = #{itemId}
  </select>
  <update id="updateWxItemCategory" parameterType="com.wechat.mp.pojo.WxItem">
    update wechat_item,cate_item
    <set >
      <if test="itemId != null" >
        wechat_item.item_id = #{itemId},
      </if>
      <if test="title != null" >
        wechat_item.title = #{title},
      </if>
      <if test="description != null" >
        wechat_item.description = #{description},
      </if>
      <if test="url != null" >
        wechat_item.url = #{url},
      </if>
      <if test="imgUrl != null" >
        wechat_item.img_url = #{imgUrl},
      </if>
      <if test="category.id != null" >
        cate_item.cate_id = #{category.id},
        cate_item.update_time = now(),
      </if>
      wechat_item.update_time = now()
    </set>
    where wechat_item.id = #{id} AND cate_item.item_id = #{id}
  </update>
  <select id="getTagIdByItemId" resultType="int" parameterType="int">
    select tag_id
    from tag_item
    where item_id = #{itemId}
  </select>
  <select id="isRelation" resultType="int">
    select count(*)
    from tag_item
    where tag_id = #{param1.value} AND item_id = #{param2.value}
  </select>
  <delete id="deleteRelation">
    delete
    from tag_item
    where tag_id = #{param1.value} AND item_id = #{param2.value}
  </delete>
  <update id="delWxItem" parameterType="int">
    update wechat_item
    set state = 1,
    update_time = now()
    where id = #{id}
  </update>
  <select id="findDelWxItemByParam" parameterType="map" resultMap="SimpleWxItem">
    SELECT a.id,a.item_id,a.title,a.url,a.description,a.create_time,a.update_time,
    c.id c_id,c.`name`,c.create_time c_create_time,c.update_time c_update_time
    FROM wechat_item a,cate_item b,category c
    <where>
      a.state = 1 AND a.id = b.item_id AND b.cate_id = c.id
      <if test="keyword != null and keyword != ''">
        AND CONCAT(a.`title`, c.`name`) LIKE #{keyword}
      </if>
    </where>
    ORDER BY ${orderColumn} ${orderType}
    limit ${start},${length}
  </select>
  <select id="findDelWxItemCount" resultType="int">
    SELECT COUNT(*) FROM wechat_item
    where state = 1
  </select>
  <select id="findDelWxItemCountByParam" resultType="int" parameterType="map">
    SELECT COUNT(*) FROM wechat_item
    <where>
      <if test="keyword != null and keyword != ''">
        title LIKE #{keyword}
      </if>
      AND state = 1
    </where>
  </select>
  <update id="restoreWxItem" parameterType="int">
    update wechat_item
    set state = 0,
    update_time = now()
    where id = #{id}
  </update>
</mapper>